<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Food_Entities" connectionString="metadata=res://*/Tabela.Model1.csdl|res://*/Tabela.Model1.ssdl|res://*/Tabela.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=darnassus\motorhead;initial catalog=db_230065;persist security info=True;user id=230065;password=A12345678a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>